<div class="form">
    <section class="saisieForm">
        <h2>Formulaire d'ajout de CD</h2>
        <form [formGroup]="formulaire">
            <div class="formGroup">
                <label for="title">Titre</label>
                <div class="input">
                    <input type="text" class="form-control" id="title" formControlName="title"/>
                    <div *ngIf="formulaire.get('title')?.invalid &&
                                formulaire.get('title')?.errors &&
                                (formulaire.get('title')?.dirty || formulaire.get('title')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('title')?.hasError('required')">Ce champ est requis</small>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="author">Auteur</label>
                <div class="input">
                    <input type="text" class="form-control" id="author" formControlName="author"/>
                    <div *ngIf="formulaire.get('author')?.invalid &&
                                formulaire.get('author')?.errors &&
                                (formulaire.get('author')?.dirty || formulaire.get('author')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('author')?.hasError('required')">Ce champ est requis</small>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="price">Prix</label>
                <div class="input">
                    <input type="number" class="form-control" id="price" formControlName="price"/>
                    <div *ngIf="formulaire.get('price')?.invalid &&
                                formulaire.get('price')?.errors &&
                                (formulaire.get('price')?.dirty || formulaire.get('price')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('price')?.hasError('required')">Ce champ est requis</small>
                        <small class="textDanger" *ngIf="formulaire.get('price')?.hasError('min')">Ce champ doit avoir une valeur minimum de 0</small>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="thumbnail">Vignette</label>
                <div class="input">
                    <input type="text" class="form-control" id="thumbnail" formControlName="thumbnail"/>
                    <div *ngIf="formulaire.get('thumbnail')?.invalid &&
                                formulaire.get('thumbnail')?.errors &&
                                (formulaire.get('thumbnail')?.dirty || formulaire.get('thumbnail')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('thumbnail')?.hasError('required')">Ce champ est requis</small>
                        <small class="textDanger" *ngIf="formulaire.get('thumbnail')?.hasError('pattern')">Ce champ doit être une url vers une image</small>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="dateDeSortie">Date de sortie</label>
                <div class="input">
                    <input type="date" class="form-control" id="dateDeSortie" formControlName="dateDeSortie"/>
                    <div *ngIf="formulaire.get('dateDeSortie')?.invalid &&
                                formulaire.get('dateDeSortie')?.errors &&
                                (formulaire.get('dateDeSortie')?.dirty || formulaire.get('dateDeSortie')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('dateDeSortie')?.hasError('required')">Ce champ est requis</small>
                    </div>
                </div>
            </div>
            <div class="formGroup">
                <label for="quantite">Quantité</label>
                <div class="input">
                    <input type="number" class="form-control" id="quantite" formControlName="quantite"/>
                    <div *ngIf="formulaire.get('quantite')?.invalid &&
                                formulaire.get('quantite')?.errors &&
                                (formulaire.get('quantite')?.dirty || formulaire.get('quantite')?.touched)">
                        <small class="textDanger" *ngIf="formulaire.get('quantite')?.hasError('required')">Ce champ est requis</small>
                        <small class="textDanger" *ngIf="formulaire.get('quantite')?.hasError('min')">Ce champ doit avoir une valeur minimum de 0</small>
                    </div>
                </div>
            </div>
            <div class="submitForm">
                <button class="button" type="submit" [disabled]="formulaire.invalid" (click)="soumissionForm()">Valider</button>
            </div>
        </form>
    </section>
    <section class="apercuCD">
        <h2>Aperçu du CD</h2>
        <div class="apercuCard" *ngIf="currentCD !== undefined">
            <h3>{{currentCD.title | uppercase}}</h3>
            <p>Sortie le : {{currentCD.dateDeSortie | date: 'dd/MM/yyyy'}}</p>
            <p>Auteur / Groupe : {{currentCD.author}}</p>
            <p>Prix : {{currentCD.price | currency: 'EUR'}}</p>
            <p>Quantité : {{currentCD.quantite}}</p>
            <img [src]="currentCD.thumbnail" alt="{{currentCD.title}}">
        </div>
    </section>
</div>